<div class="container">
    <!-- <div id="errorAlert" class="alert alert-danger none" role="alert"></div>
    <div id="successAlert" class="alert alert-success none" role="alert"></div>
    <div class="formLogin none">
        <br>
        <h3>Primero, autentíquese:</h3>
        <form class="row g-3">
            <div class="col-auto">
                <input type="text" id="inputUsername" class="form-control" placeholder="Nombre de usuario">
            </div>
            <div class="col-auto">
                <input type="password" id="inputAuth" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="checkShowPassword">
                <label class="form-check-label" for="checkShowPassword">Mostrar Contraseña</label>
            </div>
            <div class="col-auto">
                <button type="submit" id="btnLogin" class="btn btn-primary mb-3">Autenticar</button>
            </div>
            <p>¿No tienes una cuenta? Puedes <a id="createUser" href="/sign_in">registrarte aquí</a></p>    
        </form>
    </div> -->
    <div class="myTasks">
        <h1>Mis Tareas:</h1>
        <br>Filtrar tareas:
        <select id="select_filter" class="form-select">
            <option value="1" selected>Ver todas las tareas de este día</option>
            <option value="2">Ver las tareas de este día por hacer</option>
            <option value="3">Ver todas las tareas de esta semana</option>
            <option value="4">Ver las tareas de esta semana por hacer</option>
            <option value="5">Ver todas las tareas hechas</option>
            <option value="6">Ver todas las tareas por hacer</option>
            <option value="7">Ver todas mis tareas</option>
        </select>
        <br>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre:</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of tasks">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td></td>
                <!-- <td>{{ getDate(item.dateTask) }}</td> -->
                <td>hola</td> 
                <!-- <td>{{ item.status === 1 ? "Hecho" : "Pendiente" }}</td> -->
            </tbody>
            <tbody id="tbodyMyTasks"></tbody>
        </table>
    </div>        
</div>
<button (click)="getAllTasks()">Ver</button>